body {
    flex-direction: column;
    background-color: lightslategrey;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

.testsAndResults {
    flex-direction: row;
    display: flex;
    flex:1;
}

.tests {
    background-color: slategrey;
    display: flex;
    padding: 7px;
    flex-direction: column;
}

.test:hover {
    color: darkorange;
    cursor: pointer;
}

.results {
    background-color: lightsteelblue;
    display: flex;
    padding: 7px;
    width: 100%;
    overflow: scroll;
    flex-direction: column;
}

.results div {
    width: 100%
}

.result {
    border-bottom: thin solid lightslategray;
    width: 100%;
}

.result .passed {
    color: green;
    font-weight: bold;
}

.result .failed {
    color:darkred;
    font-weight: bold;
}

.testName {
    display: inline
}

i{
    padding-right: 3px;
    display: inline;
}
