body {
    flex-direction: column;
    background-color: #EFEFEF;
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.testsAndResults {
    flex-direction: row;
    display: flex;
    flex:1;
    padding: 3px;
    padding-left: 8px;
}

.tests {
    background-color: #EFEFEF;
    display: flex;
    padding: 7px;
    flex-direction: column;
}

.clickable:hover {
    color: #00a1c5;
    cursor: pointer;
}

.results {
    background-color: #EFEFEF;
    display: flex;
    padding: 7px;
    width: 100%;
    overflow: hidden;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.result {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-bottom: 0.5em;
    width: 100%;
    background-color: #e2e2e2;
}

i.passed {
    color: #049004;
    animation: none;
}

i.failed {
    color:#f52900;
    animation: none;
}

.testName {
    display: inline;
}

.test {
    display: flex;
}

.test i {
    margin-top: 3px;
}

i{
    margin-right: 3px;
    display: inline;
    color: #00c7f4;
}

.history {
    min-height: 22px;
}

.hljs {
    overflow-x: hidden;
}

.results pre {
    white-space: pre-wrap;
}

h1 {
    display: inline;
    color: #ffffff;
}

h2 {
    border-bottom: thin solid #A9A9A9;
}

.pageHeader {
    background-color: #322525;
    padding: 3px;
    padding-left: 8px;
}

.header, .pageHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.header i, .pageHeader i {
    padding-left: 5px
}

h3 {
    margin-top: 0;
    margin-bottom: 0.2em;
}

.collapsed {
    display:none;
}

.uncollapsed {
    display: inherit;
}

.highlighted {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid #00c7f4;
}

.passedResult {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 5px solid #5fe35f;
}

.failedResult {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-left: 5px solid #fc5c3c;
}